body {
  background-color: rgb(255, 235, 210);
}

section {
  background-color: white;
  margin: 20px; /* Adds space around each section */
  border-radius: 10px; /* Rounds the corners */
  padding: 14px;
}

h1 {
  font-style: italic;
}

li,
p,
a {
  font-size: 18px;
}

.home-link {
  padding-bottom: 50px;
}
